ressources/chatbot/.DS_Store
__pycache__/
*/__pycache__/
*/*/__pycache__/
old/
keys.py
ressources/chatbot/sources/
ressources/chatbot/prepare_chatbot.ipynb
test.ipynb
my_pages/unused/
.streamlit/secrets.toml