ressources/chatbot/.DS_Store
__pycache__/
*/__pycache__/
*/*/__pycache__/
old/
keys.py
ressources/chatbot/sources/
ressources/chatbot/prepare_chatbot.ipynb
test.ipynb
.streamlit/secrets.toml
.DS_Store
ressources/data_collection/test.py
ressources/image_recog/best_model.keras
ressources/image_recog/images/
ressources/data_collection/test.txt
ressources/clustering/clusters.png
ressources/DecisionTree.png
ressources/.DS_Store
requirements_app.txt
streamlit/sources/logo_modelv1.pkl
streamlit/unused/
ressources/regression/nn_regressor.pkl
streamlit/sources/nn_regressor_v1.pkl
