/* style.css */
.main {
    /* background-color: #00093a !important;  Navy blue background */
    background-color: #667bff !important; /* Navy blue background */
    color: #e6e6e6 !important; /* Light text color */
    margin-left: 300px;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
}

    /* Set default text color */
.block-container {
    background-color: #00093a !important; /* Navy blue background */
    background-color: #667bff !important; /* Navy blue background */
    color: #e6e6e6 !important;
    padding: 20px !important;
    margin: 20px !important;
    height: 100vh; /* Full viewport height */
}

.stMarkdown h1, h2, h3, h4, h5, h6 {
    color: #760640; /* Bordeaux color for headings */
}

.stSidebar {
    background-color: #540000 !important; /* Navy blue background */
    color: #e6e6e6 !important;
    height: 100vh; /* Full viewport height */
    width: 300px;  /* Full viewport width */
    border-right: 2px solid white;  /* White border on the right side */
}

.stSidebarNavLink {
    background-color: #00093a !important; /* Navy blue background */
    color: #e6e6e6 !important;
}

.stNavItem a {
    color: #ffffff;  /* Replace with your desired color */
}

.stNavItem a:active {
    color: #ffffff;  /* Active link color */
}

.stNavItem a:hover {
    color: #d4b106;  /* Hover color */
}

.stNav {
    background-color: #2e3b4e;  /* Change the background color of the navigation bar */
}

div[data-testid="stSidebarCollapseButton"] { 
    display: none;
}

div[data-testid="stSidebarNav"] {
    background-color: #ffffff;  /* Change the background color of the sidebar navigation */
}

/* Target the sidebar navigation links using data-testid="stSidebarNavLink" */
div[data-testid="stSidebarNav"] a[data-testid="stSidebarNavLink"] {
    color: #FF5733 !important;  /* Change the link color */
    font-weight: bold;  /* Make the links bold */
}

/* Target the active link, you may need to inspect if "active" class is present */
div[data-testid="stSidebarNav"] a[data-testid="stSidebarNavLink"]:active {
    color: #28a745 !important;  /* Active link color */
}

/* Optional: Change the background color of the sidebar separator */
div[data-testid="stSidebarNavSeparator"] {
    background-color: #ffffff;  /* Change the separator color */
}